# TUGAS ANALISIS DATA PENGENALAN KOMPUTASI KU1102-31

## Anggota Kelompok
<h3 style="text-align:center">Kelompok 13</h3>
  
| NIM | Nama |
| --- | --- |
| 16722047 | Jessica Budiman |  
| 16722052 | Delon Khaerun Alief |
| 16722117 | Yuba Felda Tustika |
| 16722167 | Selpia Anggraeni Permatasari |
| 16722292 | Maulida Rahma Britania |

## Tema: Perusahaan Teknologi
### Dataset yang digunakan
1. Sumber Dana Perusahaan Teknologi (sumber: [kaggle](https://www.kaggle.com/datasets/shivamb/tech-company-fundings-2020-onwards))
> Format: CSV  
> Ukuran: 305 KB  
> Dimensi: 3575 baris × 7 kolom
2. Penggabungan dan Akuisisi Perusahaan Teknologi (sumber: [kaggle](https://www.kaggle.com/datasets/shivamb/company-acquisitions-7-top-companies))
> Format: CSV  
> Ukuran: 102 KB  
> Dimensi: 1455 baris × 9 kolom
  
### Data yang akan dianalisis dan divisualisasikan

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data_funding = pd.read_csv('https://raw.githubusercontent.com/elonsquidion/tubes-analisis-data/main/tech_fundings.csv', index_col=0)
data_funding

,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
index,,,,,,,
1,Internxt,https://internxt.com/,Spain,Blockchain,278940,Seed,Jan-20
2,Dockflow,https://dockflow.com,Belgium,Logistics,292244,Seed,Jan-20
3,api.video,https://api.video,France,Developer APIs,300000,Seed,Jan-20
4,Buck.ai,https://buck.ai/,United States,Artificial Intelligence,300000,Seed,Jan-20
5,Prodsight,https://www.prodsight.ai,United Kingdom,Artificial Intelligence,529013,Seed,Jan-20
...,...,...,...,...,...,...,...
3571,Headout,https://www.headout.com,United States,Travel,12000000,Series B,Sep-21
3572,OLIO,https://olioex.com/,United Kingdom,Wellness,43000000,Series B,Sep-21
3573,Trees for Life,https://treesforlife.org.uk,United Kingdom,Wellness,2737468,Crowdfunding,Sep-21
3574,Britishvolt,https://britishvolt.com/,United Kingdom,Wellness,70000000,Series B,Sep-21
3575,Greenly,https://www.greenly.earth/,France,Wellness,2953675,Seed,Sep-21

In [ ]:
data_merger = pd.read_csv('https://raw.githubusercontent.com/elonsquidion/tubes-analisis-data/main/acquisitions_update_2021.csv', index_col=0)
data_merger

,Parent Company,Acquisition Year,Acquisition Month,Acquired Company,Business,Country,Acquisition Price,Category,Derived Products
ID,,,,,,,,,
1,Apple,1988,Mar,Network Innovations,Software,-,-,-,-
2,Apple,1988,Jun,Orion Network Systems,Computer Software,-,-,-,-
3,Apple,1988,Jun,Styleware,Computer software,-,-,-,-
4,Apple,1988,Jul,Nashoba Systems,Computer software,-,-,-,-
5,Apple,1989,Jan,Coral Software,Computer software,-,-,-,-
...,...,...,...,...,...,...,...,...,...
1451,Citrix,2015,Apr,Grasshopper,Telephone services,United States,-,-,"GoToMeeting, GoToTraining, GoToWebinar, ShareF..."
1452,Citrix,2016,Sep,Norskale,UEM and application performance optimization,France,-,-,"XenApp, XenDesktop"
1453,Citrix,2017,Jan,Unidesk,-,United States,-,-,"XenApp, XenDesktop"
1454,Citrix,2018,Feb,Cedexis,Intelligent traffic management,France,-,-,Citrix ITM
1455,Citrix,2021,Mar,Wrike,Project management,United States,-,-,Citrix Workspace

In [ ]:
data_funding[data_funding["Funding Amount (USD)"] != "Unknown"].sort_values(["Funding Amount (USD)"], ascending = False)

,Company,Website,Region,Vertical,Funding Amount (USD),Funding Stage,Funding Date
index,,,,,,,
1816,FloBiz,https://www.flobiz.in,India,B2B Software,9998304,Series A,Mar-21
3160,Mighty Jaxx,https://mightyjaxx.com,Singapore,E-Commerce Store,9991164,Series A,Aug-21
2965,Notch,https://www.notchordering.com/,Canada,Food and Beverage,9937505,Series A,Jul-21
2481,Healios,https://www.healios.org.uk/,United Kingdom,Health Care,9925966,Series A,May-21
1646,Pencil,https://thepencilapp.com/,India,Consumer,991203,Seed,Feb-21
...,...,...,...,...,...,...,...
648,Mosaic,https://mosaicapp.com,United States,B2B Softare,100000,Seed,Jul-20
1736,DocSpace,https://www.mydocspace.com,United States,Health Care,100000,Pre-Seed,Feb-21
508,Merge,https://mergeapp.co.za/,South Africa,Investing,100000,Seed,Jun-20
1333,Blueprint Stats,https://www.blueprintstats.com,United States,Cloud Computing,100000,Seed,Jan-21
771,Start Sure,https://startsure.co/,United States,Insureance,100000,Seed,Jul-20